<div id="header">
    <div class="row">
        <!-- tilte -->
        <div class="col-2">
            <h2 class="text-center">C-R-M</h2>
        </div>
        <!-- notifications -->
        <div class="col-8 notifications">
            <div class="notification-item cursor-pointer">
                <div class="badge badge-pill badge-danger">6</div>
                <div class="icon"><i class="fas fa-server"></i></div>
            </div>
            <div class="notification-item cursor-pointer">
                <div class="badge badge-pill badge-danger">6</div>
                <div class="icon"><i class="far fa-envelope"></i></div>
            </div>
            <div class="notification-item cursor-pointer">
                <div class="badge badge-pill badge-danger">6</div>
                <div class="icon"><i class="fas fa-bell"></i></div>
            </div>
        </div>
        <!-- avatar -->
        <div class="col-2 avatar cursor-pointer" routerLink="/account">
            <div class="img-avatar">
                <img src="../../assets/images/avatar.jpg" alt="">
            </div>
            <div class="name">Monkey.D.Luffy</div>
            <span><i class="fas fa-sort-down"></i></span>
        </div>
    </div>
</div>
