<div id="group">
    <h1><i class="fas fa-edit"></i>GROUP-001</h1>
    
    <button class="float-right add"><i class="fas fa-plus mr-2"></i>Thêm công việc</button>
    
    <div class="clearfix"></div>
    
    <ul class="nav mb-3 menu">
        <li class="nav-item active">
            <a class="nav-link" href="#">Thống kê</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Công việc</a>
        </li>
    </ul>

    <!-- chart -->
    <div class="row mr-1">
        <div class="col-6">
            <div class="card chart-pie">
                <div class="card-header">
                    <span><i class="fas fa-chart-bar"></i></span>
                    <span class="mx-1">Thông tin cá nhân</span>
                    <span class="float-right">
                        <span class="mx-3 cursor-pointer"><i class="fas fa-chevron-down"></i></span>
                        <span class="cursor-pointer"><i class="fas fa-times"></i></span>
                    </span>
                </div>
                <div class="card-body">
                    <canvas id="pie-chart">{{ chartPie }}</canvas>
                </div> 
            </div>
        </div>
        <div class="col-6">
            <div class="card chart-bar">
                <div class="card-header">
                    <span><i class="fas fa-chart-bar"></i></span>
                    <span class="mx-1">Thống kê công việc</span>
                    <span class="float-right">
                        <span class="mx-3 cursor-pointer"><i class="fas fa-chevron-down"></i></span>
                        <span class="cursor-pointer"><i class="fas fa-times"></i></span>
                    </span>
                </div>
                <div class="card-body">
                    <canvas id="canvas">{{ chartBar }}</canvas>
                </div>
            </div>
        </div>
    </div>
</div>
