<div id="menu">
  <ul class="nav flex-column">
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/account">
            <span><i class="fas fa-tachometer-alt"></i></span>
            <span class="mx-3">Dashboard</span>
        </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/member">
            <span><i class="fas fa-book"></i></span>
            <span class="mx-3">Thành viên</span>
        </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/group">
            <span><i class="fas fa-server"></i></span>
            <span class="mx-3">Nhóm việc</span>
            <span class="ml-4"><i class="fas fa-caret-right"></i></span>
        </a>
    </li>
  </ul>
</div>
