<div id="account" class="container">
    <!-- avatar and name -->
    <div class="row pb-3">
        <div class="img-avatar">
            <img src="../../assets/images/avatar.jpg" alt="">
        </div>
        <div class="name mx-3">Monkey.D.Luffy</div>
    </div>
    <!-- information -->
    <div class="information row mr-1">
        <div class="col-6 personal-information pl-0">
            <div class="card">
                <div class="card-header">
                    <span><i class="fas fa-chart-bar"></i></span>
                    <span class="mx-1">Thông tin cá nhân</span>
                    <span class="float-right">
                        <span class="mx-3 cursor-pointer"><i class="fas fa-chevron-down"></i></span>
                        <span class="cursor-pointer"><i class="fas fa-times"></i></span>
                    </span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <div class="img-avatar">
                                <img src="../../assets/images/avatar.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-9 text-center py-2">
                            <p>Monkey.D.Luffy</p>
                            <p>luffy@gmail.com</p>
                            <span class="cursor-pointer"><i class="fab fa-facebook-f"></i></span>
                            <span class="mx-2 cursor-pointer"><i class="fab fa-google"></i></span>
                        </div>
                    </div>
                    <p class="mt-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci accusantium, atque enim nesciunt ratione inventore velit odio similique sapiente cupiditate dolores vitae necessitatibus, provident voluptas doloremque eaque natus placeat beatae?</p>
                </div> 
            </div>
        </div>
        <div class="col-6 job-information">
            <div class="card">
                <div class="card-header">
                    <span><i class="fas fa-chart-bar"></i></span>
                    <span class="mx-1">Thống kê công việc</span>
                    <span class="float-right">
                        <span class="mx-3 cursor-pointer"><i class="fas fa-chevron-down"></i></span>
                        <span class="cursor-pointer"><i class="fas fa-times"></i></span>
                    </span>
                </div>
                <div class="card-body">
                    <canvas id="canvas">{{ chart }}</canvas>
                </div>
            </div>
        </div>
    </div>
</div>
