#account .img-avatar{
    height: 50px;
    width: 50px;
}
#account .img-avatar img {
    width: 100%;
    height: 100%;
}
#account .name {
    line-height: 50px;
    text-transform: uppercase;
}
#account .information .personal-information .card{
    border: 1px solid #83b156;
}
#account .information .personal-information .card .card-header {
    background-color: #83b156;
    color: white;
}
#account .information .personal-information .card .card-body .img-avatar {
    width: 100%;
    height: 100%;
}
#account .information .personal-information .card .card-body .col-9 {
    background-color: #59bbc7;
    color: #fdfdfd;
}
#account .information .personal-information .card .card-body .col-9 p:first-child{
    text-transform: uppercase;
}
#account .information .job-information .card{
    border: 1px solid #558abe;
}
#account .information .job-information .card .card-header {
    background-color: #558abe;
    color: white;
}
